@-moz-viewport {
    width: device-width;
    scale: 1;
}
@-ms-viewport {
    width: device-width;
    scale: 1;
}
@-o-viewport {
    width: device-width;
    scale: 1;
}
@-webkit-viewport {
    width: device-width;
    scale: 1;
}
@viewport {
    width: device-width;
    scale: 1;
}

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow: hidden;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 1px;
    perspective: 1px;
}

.parallax-group {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    position: relative;
    top: calc(((100vh - 120vw) / 4) * -2);
    height: 60vw;
}

.middle {
    -webkit-transform: translateZ(-0.5px);
    transform: translateZ(-0.5px);
    position: absolute;
    top: calc(((100vh - 300vw) / 4) * -2);
}

.front {
    background-color: white;
    top: 500px;
    position: absolute;
    width: 100%;
}

.nav-a {
    text-decoration: none;
    font: Georgia, serif;
    color: #F8988E;
    list-style-type: none;
    padding: none;
    margin: none;
    background-color: white;
}

.panel {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: all 300ms linear;
    z-index: 7;
}
.burger {
    position: relative;
    height: 50px;
    width: 50px;
    text-decoration: none;
    border: none;
    background-color: white;
    z-index: 7;
    transition: 1s ease-in-out;
}

.btn-show-hide:hover {
    color: #fff;
    background-color: #BFBDBC;
    transition: 100ms ease-in-out;
}

.btn-show-hide {
    transition: all 250ms linear;
    background-color: white;
    font-size: 1em;
    background-color: #F8988E;
    color: white;
    padding: 15px 15px;
    border: none;
    text-decoration: none;
    font-family: Georgia, serif;
    margin-right: 50%;
    margin-left: 50%;
   
}

.portfolio {
    transition: all 250ms linear;
    opacity: 0;
}

.portfolio-2 {
    transition: all 250ms linear;
    opacity: 0;
}

.portfolio-3 {
    transition: all 250ms linear;
    opacity: 0;
}

.js-box-show-hide {
    opacity: 1;
}

.js-box-show-hide-2 {
    opacity: 0;
}

.js-box-show-hide-3 {
    opacity: 0;
}

.js-panel-expand {
    max-height: 7em;
    z-index: 7;
}

.btn-2:hover {
    color: #fff;
    background-color: #BFBDBC;
    transition: 100ms ease-in-out;
}

.btn-2 {
    transition: all 250ms linear;
    background-color: white;
    font-size: 1em;
    background-color: #F8988E;
    color: white;
    padding: 15px 15px;
    border: none;
    text-decoration: none;
    margin-right: 50%;
    margin-left: 50%;
    font-family: Georgia, serif;
}

.btn-3:hover {
    color: #fff;
    background-color: #BFBDBC;
    transition: 100ms ease-in-out;
}

.btn-3 {
    transition: all 250ms linear;
    background-color: white;
    font-size: 1em;
    background-color: #F8988E;
    color: white;
    padding: 15px 15px;
    border: none;
    text-decoration: none;
    margin-right: 50%;
    margin-left: 50%;
    font-family: Georgia, serif;
}

.box {
} 
.pic {
    width: 100%;
}
.header-title {
    font-family: 'Montez', cursive;
    text-align: center;
    font-size: 3rem;
    color: #F8988E;
    z-index: 6;
}
.pink {
    color: #F8988E;
}
.text-center {
    text-align: center;
}
.sub-title {
    color: #BFBDBC;
    z-index: 5;
}

header {
    background-image: image(..//images/1.jpg);
    width: 100%;
    xheight: 100vh;
}

.flower-1 {
    position: absolute;
    top: 0px;
    left: 230px;
    width: 25px;
    height: 25px;
    -webkit-animation: flower-1 10s eae-in-out normal infinite;
    animation: flower-1 10s ease-in-out normal infinite;
    z-index: 4;
}

.flower-2 {
    position: absolute;
    top: 0px;
    left: 70px;
    width: 30px;
    height: 30px;
    -webkit-animation: flower-2 17s ease-in-out normal infinite;
    animation: flower-2 17s ease-in-out normal infinite;
    z-index: 3;
}

.flower-3 {
    position: absolute;
    top: 0px;
    left: 280px;
    width: 30px;
    height: 30px;
    -webkit-animation: flower-3 15s ease-in-out normal infinite;
    animation: flower-3 15s ease-in-out normal infinite;
    z-index: 2;
}

.flower-4 {
    position: absolute;
    top: 0px;
    left: 25px;
    width: 30px;
    height: 30px;
    -webkit-animation: flower-4 20s ease-in-out normal infinite;
    animation: flower-4 20s ease-in-out normal infinite;
    z-index: 1;
}

.bio {
    font-family: 'Droid Serif', serif;
    border: 1px;
    color: #BFBDBC;
    border: 1px solid #BFBDBC;
    background-color: white;
    z-index: 10;
    padding: none;
    margin: none;
}

.water-bucket {
    width: 300px;
    padding: 10px;
}

.js-active #drop-2 {
     -webkit-animation: flop-1 2s ease alternate infinite;
    animation: flop-1 2s ease alternate infinite;
}

.js-active #drop_1_ {
     -webkit-animation: flop-1 2s ease alternate infinite;
    animation: flop-1 2s ease alternate infinite;
}

.js-active #drop_2_ {
     -webkit-animation: flop-1 2s ease alternate infinite;
        animation: flop-1 2s ease alternate infinite;

}


@-webkit-keyframes flop-1 {
    0% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(35px);
    }
}

@keyframes flop-1 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(35px);
    }
}

.js-active #bucket {
    -webkit-animation: watering 2s ease-in-out alternate infinite;
    animation: watering 2s ease-in-out alternate infinite;

}

 
@-webkit-keyframes watering {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(5deg);  
    }
}

@keyframes watering {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(5deg);  
    }
}


@-webkit-keyframes flower-1 {
    0% {
        -webkit-transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(56px) rotate(40deg);
    }
    60% {
        -webkit-transform: translateY(112px) rotate(80deg);
        opacity: .5;
    }
    80% {
        -webkit-transform: translateY(168px) rotate(120deg);
    }
    100% {
        -webkit-transform: translateY(224px) rotate(160deg);
        opacity: 0;
    }
}
@keyframes flower-1 {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    40% {
        transform: translateY(56px) rotate(40deg);
    }
    60% {
        transform: translateY(112px) rotate(80deg);
        opacity: .5;
    }
    80% {
        transform: translateY(168px) rotate(120deg);
    }
    100% {
        transform: translateY(224px) rotate(160deg);
        opacity: 0;
    }
}

@-webkit-keyframes flower-2 {
    0% {
        -webkit-transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(50px) rotate(40deg);
    }
    60% {
        -webkit-transform: translateY(100px) rotate(80deg);
        opacity: .5;
    }
    80% {
        -webkit-transform: translateY(150px) rotate(120deg);
    }
    100% {
        -webkit-transform: translateY(200px) rotate(160deg);
        opacity: 0;
    }
}

@keyframes flower-2 {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    40% {
        transform: translateY(50px) rotate(40deg);
    }
    60% {
        transform: translateY(100px) rotate(80deg);
        opacity: .5;
    }
    80% {
        transform: translateY(150px) rotate(120deg);
    }
    100% {
        transform: translateY(200px) rotate(160deg);
        opacity: 0;
    }
}

@-webkit-keyframes flower-3 {
    0% {
        -webkit-transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    20% {
        -webkit-transform: translateY(35px) rotate(40deg);
    }
    40% {
        -webkit-transform: translateY(70px) rotate(80deg);
    }
    60% {
        -webkit-transform: translateY(105px) rotate(120deg);
        opacity: .5;
    }
    80% {
        -webkit-transform: translateY(140px) rotate(120deg);
    }
    100% {
        -webkit-transform: translateY(175px) rotate(160deg);
        opacity: 0;
    }
}

@keyframes flower-3 {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    20% {
        transform: translateY(35px) rotate(40deg);
    }
    40% {
        transform: translateY(70px) rotate(80deg);
    }
    60% {
        transform: translateY(105px) rotate(120deg);
        opacity: .5;
    }
    80% {
        transform: translateY(140px) rotate(120deg);
    }
    100% {
        transform: translateY(175px) rotate(160deg);
        opacity: 0;
    }
}

@-webkit-keyframes flower-4 {
    0% {
        -webkit-transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    25% {
        -webkit-transform: translateY(60px) rotate(40deg);
    }
    50% {
        -webkit-transform: translateY(120px) rotate(80deg);
        opacity: .5;
    }
    75% {
        -webkit-transform: translateY(180px) rotate(120deg);
    }
    100% {
        -webkit-transform: translateY(240px) rotate(160deg);
        opacity: 0;
    }
}

@keyframes flower-4 {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    25% {
        transform: translateY(60px) rotate(40deg);
    }
    50% {
        transform: translateY(120px) rotate(80deg);
        opacity: .5;
    }
    75% {
        transform: translateY(180px) rotate(120deg);
    }
    100% {
        transform: translateY(240px) rotate(160deg);
        opacity: 0;
    }
}

@-webkit-keyframes swirl {
    0% {
        -webkit-transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(80px) rotate(180deg);
        opacity: 0;
    }
}

@keyframes swirl {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(80px) rotate(180deg);
        opacity: 0;
    }
}

@media only screen and (min-width: 38em) {
    .flower-1 {
        left: 400px;
        width: 50px;
        height: 50px;
    }
    .flower-2 {
        left: 150px;
        width: 50px;
        height: 50px;
    }
    .flower-3 {
        left: 550px;
        width: 50px;
        height: 50px;
    }
    .flower-4 {
        left: 50px;
        width: 50px;
        height: 50px;
    }
    .button {
        width: 50px;
        height: 50px;
    }
    .bio {
        margin: 0 10% 0 10%;
    }
    .back {
        top: calc(((100vh - 120vw) / 4) * -2);
        height: 60vw;
    }
    .middle {
        top: calc(((100vh - 200vw) / 4) * -2);
    }
    .front {
        top: 600px;
    }
    
    .water-bucket {
    width: 550px;
}
}

@media only screen and (min-width: 60em) {
    .flower-1 {
        left: 970px;
        width: 75px;
        height: 75px;
    }
    .flower-2 {
        left: 375px;
        width: 75px;
        height: 75px;
    }
    .flower-3 {
        left: 1200px;
        width: 75px;
        height: 75px;
    }
    .flower-4 {
        left: 125px;
        width: 75px;
        height: 75px;
    }
    .button {
        width: 75px;
        height: 75px;
    }
    .bio {
        margin: 0 20% 0 20%;
    }
    .header-title {
        font-size: 5rem;
    }
    .back {
        top: calc(((100vh - 120vw) / 4) * -2);
        height: 60vw;
    }
    .middle {
        top: calc(((100vh - 150vw) / 4) * -2);
    }
    .front {
        top: 900px;
    }
    
    .water-bucket {
    width: 700px;
    padding: 4rem;
}
}